$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$highlight-color: #d82204;
$button-color   : #0083D2;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* ----------------------------------------- */
/* HEADER
/* ----------------------------------------- */

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient( 0deg, #f7f7f7, #fdfdfd, #fff ) #fff;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 1px 0 0 #dadada;
  margin-bottom: 1px;

  .logo {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 100%;
  }

  .top-nav {
    color: #000;
    font-size: 12px;

    .item-highlighted {
      font-weight: bold;
      text-transform: uppercase;
      color: $highlight-color;
    }

    .nav > li:after {
      content: "|";
      color: #000;
      position: absolute;
      top: 5px;
      right: -3px;
    }

    .nav > li:last-child:after {
      content: "";
    }

    .nav > li > a {
      color: inherit;
      padding: 5px 10px;

      &:hover {
        background: none;
      }
    }
  }

  .search-input.office-open {
    max-width: 75%;
  }
  .search-input {
    transition: max-width .4s ease;
    float: left;
    border-radius: 7px;
    border: 1px solid #cdcdcd;
    padding: 12px 25px;
    margin-top: 20px;
    width: 100%;
    max-width: 60%;
    background: url("../images/icon-search.png") 98% center no-repeat;
  }

  .visual-nav {
    margin-top: 20px;
    color: #3C3D41;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 13px;
    font-weight: bold;
    float: left;
    margin-left: 20px;

    .nav .item-stores {
      background: url("../images/icon-stores.png") no-repeat left center;
      padding-left: 10px;
    }

    .nav .item-cart {
      background: url("../images/icon-cart.png") no-repeat left center;
      padding-left: 15px;
    }
    .nav .item-office {
      opacity: 0;
      display: none;
    }

    .nav .item-office a {
      padding: 0;
    }

    .nav .badge {
      background-color: $highlight-color;
    }

    .nav > li > a {
      color: inherit;

      &:hover {
        background: none;
      }
    }
  }

  .main-nav {
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    text-align: center;

    .nav > li {
      background: url("../images/nav-bg.gif") no-repeat right center;
      display: inline-block;
      float: none;
    }

    .nav > li:last-child {
      background: none;
    }

    .nav > li + li {
      margin-left: 0;
    }

    .nav > li > a {
      padding: 5px 14px 5px 10px;
      color: inherit;

      &:hover {
        background: none;
      }
    }
  }
}

/* ----------------------------------------- */
/* SLIDER
/* ----------------------------------------- */

.featured-slider {
  border-bottom: 5px solid #f1f1f1;
  padding-bottom: 20px;

  .carousel {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;

    .item img {
      margin: 0 auto;
    }
  }

  .carousel-indicators {
    bottom: 0;

    li {
      background-color: #a5a5a5;
      border: none;
      width: 14px;
      height: 14px;

      &.active {
        background: url("../images/carousel-active.jpg");
        width: 16px;
        height: 16px;
      }
    }
  }
}

/* ----------------------------------------- */
/* SHOP NOW
/* ----------------------------------------- */

.section-shop {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;

  .shop-img {
    max-width: 100%;
  }

  h3 {
    font-weight: 600;
    margin-bottom: 5px;
  }

  p {
    font-size: 16px;
  }

  .btn-shop {
    color: #fff;
    background-color: $button-color;
    border: none;

    &:hover {
      background-color: darken($button-color, 5%);
    }
  }
}

/* ----------------------------------------- */
/* SPECIALS
/* ----------------------------------------- */

.section-specials {
  margin-top: 20px;

  .products-slider {
    padding-bottom: 40px;

    .carousel {
      text-align: center;
      padding-top: 40px;
      padding-bottom: 50px;

      .item img {
        margin: 0 auto;
      }
    }

    .carousel-indicators {
      bottom: 0;

      li {
        background-color: #a5a5a5;
        border: none;
        width: 14px;
        height: 14px;

        &.active {
          background: url("../images/carousel-active.jpg");
          width: 16px;
          height: 16px;
        }
      }
    }
  }
  
  h2 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    padding: 15px 20px;
    background: linear-gradient( 0deg, #f7f7f7, #fdfdfd, #fff ) #fff;
    border-bottom: 1px solid #e5e5e5;
  }

  .special-img {
    max-width: 100%;
  }

  .current-price {
    font-weight: normal;
    font-size: 40px;
    color: $highlight-color;
    margin: 0;

    strong {
      font-weight: normal;
    }

    span {
      vertical-align: super;
      font-size: 18px;
    }
  }

  .list-price {
    color: #a1a4a8;
    text-align: right;
    margin-bottom: 5px;
  }

  .price-text {
    color: #5b9ad9;
    font-size: 16px;
  }

  .special-info {
    color: #777;
  }

  .product-name {
    font-size: 18px;
    margin-top: 5px;
  }

  .reviews {
    img {
      vertical-align: bottom;
    }

    .reviews-count {
      color: #5b9ad9;
      margin-left: 10px;
    }
  }
}

/* ----------------------------------------- */
/* NEWS
/* ----------------------------------------- */

.section-news {
  padding-bottom: 20px;
  
  h2 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    padding: 15px 20px;
    background: linear-gradient( 0deg, #f7f7f7, #fdfdfd, #fff ) #fff;
    border-bottom: 1px solid #e5e5e5;
    font-weight: 600;
    margin-bottom: 20px;
  }

  img {
    max-width: 100%;
  }

  h4 {
    color: #646465;
  }
}

/* ----------------------------------------- */
/* USER PRODUCTS MENU
/* ----------------------------------------- */

.section-user-products {
  margin-top: 20px;
  border-top: 1px solid #959595;
  border-bottom: 1px solid #959595;

  .user-product-menu {
    color: #959595;

    .nav > li.active > a {
      color: #fff;
      background-color: #959595;
    }

    .nav > li.active > a:hover {
      background-color: #959595;
    }

    .nav > li > a {
      color: inherit;
      font-weight: 600;
      border-radius: 0;
      padding: 12px 15px;

      &:hover {
        background: none;
      }
    }
  }

  &.active .toggle-content {
    background-position: center -40px;
  }

  .toggle-content {
    position: absolute;
    display: block;
    height: 40px;
    width: 40px;
    right: 20px;
    top: 0;
    background: url("../images/toggle-icon.jpg") no-repeat;
  }
  
  &.active .content {
   max-height: 500px;
   margin-top: 20px;
   margin-bottom: 15px;  
  }

  .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .1s ease;

    img {
      max-width: 100%;
    }

    h5 {
      font-size: 11px;
      font-weight: bold;
      float: left;
    }

    .current-price {
      font-weight: normal;
      font-size: 24px;
      color: $highlight-color;
      margin: 0;

      span {
        vertical-align: super;
        font-size: 12px;
      }
    }

    .reviews {
    img {
      vertical-align: bottom;
    }

    .reviews-count {
      color: #5b9ad9;
      margin-left: 10px;
    }
  }
  }
}

/* ----------------------------------------- */
/* FOOTER
/* ----------------------------------------- */

.footer {
  color: #7F858B;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #f1f1f1;

  .footer-img {
    max-width: 100%;
  }

  .print {
    font-size: 11px;
  }
}

.main-wrapper {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}
.content-wrapper {
  width: 80%;
  float: left;
  background: #fff;
}
.sidebar-wrapper {
  width: 20%;
  margin-left: 80%;
  position: absolute;
  //padding-left: 10px;
  //padding-right: 10px;

  .sidebar-tmp {
    max-width: 100%;
  }

  .close-sidebar {
    width: 55px;
    height: 52px;
    position: absolute;
    top: 0;
    right: 25px;
    background: url("../images/close-sidebar.jpg");
  }

  .section {
    border-top: 1px solid #a2a2a2;
    padding-left: 10px;
    padding-right: 10px;

    &:first-child {
      border-top: none;
    }
  }

  .section-title {
    font-size: 20px;
    margin-top: 15px;
    color: #000;
  }

  .section-user .section-title {
    color: $highlight-color;
    text-transform: uppercase;
    font-weight: 600;
  }

  .section-store {
    color: #8d9196;

    .store-image img {
      max-width: 100%;
      margin-bottom: 10px;
    }

    .phone {
      font-size: 16px;
    }
  }
}

.container {
  @media (min-width: 768px) {
    width: auto;
    max-width: 750px; 
  }
  @media (min-width: 992px) {
    width: auto;
    max-width: 970px; 
  }
  @media (min-width: 1200px) {
    width: auto;
    max-width: 1170px; 
  }
}

.effect{
  -webkit-animation-name: animGenie;
  -webkit-animation-duration: 2s;
}

@-webkit-keyframes animGenie {
  0% { opacity:0; -webkit-transform: translate3d(0,calc(200% + 30px),0) scale3d(0,1,1); -webkit-animation-timing-function: ease-in; }
  40% { opacity:0.5; -webkit-transform: translate3d(0,0,0) scale3d(0.02,1.1,1); -webkit-animation-timing-function: ease-out; }
  70% { opacity:0.6; -webkit-transform: translate3d(0,-40px,0) scale3d(0.8,1.1,1); }
  100% { opacity:1; -webkit-transform: translate3d(0,0,0) scale3d(1,1,1); }
}